# Archivos de datos
*.fastq
*.bam
*.sam
*.csv
*.log

# Carpetas de ejecución de Snakemake
.snakemake/

# Archivos personales de configuración (bash, conda, git, etc.)
.bash_history
.bash_logout
.bashrc
.condarc
.gitconfig
.lesshst
.motd_shown
.profile
.python_history


